<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <style>
     .nav-scroller .nav {
          display: flex;
          flex-wrap: nowrap;
          padding-bottom: 1rem;
          margin-top: -1px;
          overflow-x: auto;
          text-align: center;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
        }
  </style>
  </head>

  <body>
    <!--Svg elements started -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id ="bank"  fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
          <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"></path>
        </symbol>
        <symbol id="bootstrap" viewBox="0 0 118 94">
          <title>Bootstrap</title>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
          </path>
        </symbol>
      </svg>
      <!--Svg elements ended-->
    <!--Header/Navbar started-->
   <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap" style="max-width: 100%;">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
                
            </ul>
        </div>
    </nav>
    <header class="border-bottom">
      <div class="container d-flex flex-wrap justify-content-center" style="max-width: 100%; padding-top: 0.5rem; padding-bottom: 0.5rem;"> 
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bank" />
                </svg>
                <span class="fs-4">Tasallii</span>
            </a>
        </div>
    </header>
     <!--Header/Navbar ended-->

     <div style="margin-left: 1em;margin-right: 1em;">
     <h2>General Settings</h2>
     <br>

     <div class="container" style="margin: 0px;">
      <div class="row" style="width: fit-content;"> 
        <div class="col">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bank" />
        </svg>
        </div>
        <div class="col">
          <h5>Profile Live</h5>
          <p> you delete your profile, you will lose your data permanently.</p>
          <button type="submit" class="btn btn-primary">Change Email</button>
        </div>
      </div>
      <div class="row" style="width: fit-content;"> 
        <div class="col">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bank" />
        </svg>
        </div>
        <div class="col">
          <h5>Email</h5>
          <p>Your email is pankajgoyelpg0786@gmail.com</p>
          <button type="submit" class="btn btn-primary">Change Email</button>
        </div>
      </div>
    </div>
<div class="mb-3">
  <h5>Profile Live</h5>
  <div id="profileHelp" class="form-text">If you delete your profile, you will lose your data permanently.</div>
  <button type="submit" class="btn btn-primary">Delete profile</button>
</div>
<div class="mb-3">
  <h5>Email</h5>
  <div id="emailHelp" class="form-text">Your email is pankajgoyelpg0786@gmail.com</div>
  <button type="submit" class="btn btn-primary">Change Email</button>
</div>
<div class="mb-3">
  <h5>Phone</h5>
  <div id="phoneHelp" class="form-text">Add, remove and verify phone numbers</div>
  <button type="submit" class="btn btn-primary">Manage phone numbers</button>
</div>
<div class="mb-3">
  <h5>Name</h5>
  <div id="nameHelp" class="form-text">Manage how others see your name</div>
<button type="submit" class="btn btn-primary">Manage name</button>
</div>
<div class="mb-3">
  <h5>Profile photo</h5>
  <div id="profilePhotoHelp" class="form-text">Manage your profile picture</div>
<button type="submit" class="btn btn-primary">Manage profile photo</button>
</div>

<br>
<h2>Student account settings</h2>
     <br>

<div class="mb-3">
  <h5>Post visibility</h5>
  <div id="postVisibilityHelp" class="form-text">Select how your posts are made public</div>
  <select id="alwaysMakePublic" class="form-select">
    <option>Always make public</option>
    <option>Never make public</option>
  </select>
</div>

<br>
<h2>Tutor account settings</h2>
     <br>

     <div class="mb-3">
      <h5>Manage Show Contact Settings</h5>
      <div id="manageShowContactSettings" class="form-text">Options to see how your contact details are shown to students.</div>
      <button type="submit" class="btn btn-primary">Show Contact Settings</button>
    </div>
    <div class="mb-3">
      <h5>Payment receiving settings</h5>
      <div id="paymentReceivingSettings" class="form-text">Manage accounts in which you receive payment when a student pays you.</div>
      <button type="submit" class="btn btn-primary">Accounts for getting paid</button>
    </div>
    <div class="mb-3">
      <h5>Search Engine visibility</h5>
      <div id="searchEngineVisibility" class="form-text">Your profile can be seen by Google and other search engines (recommended)</div>
      <button type="submit" class="btn btn-primary">Hide profile from Google (not recommended)</button>
    </div>
    <div class="mb-3">
      <h5>Profile Active</h5>
      <div id="profileActive" class="form-text">Deactivate your profile if you wish to take a temporary break from teaching.</div>
      <div id="profileActive" class="form-text">If you deactivate profile students will not be able to contact you until you activate it again.</div>
    
      <button type="submit" class="btn btn-primary">Deactivate profile</button>
    </div>
    <div class="mb-3">
      <h5>Email preferences</h5>
  </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Get Job notifications</label>
        <br>
        <input type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">Get notifications of local students around me</label>
      </div>
      
    </div>

   <!--footer started-->
   <footer class="d-flex flex-wrap justify-content-between align-items-center  border-top" style="padding-top: 0.5em; padding-bottom: 0.5em">
    <div class="col-md-4 d-flex align-items-center" style="padding-top: 0.1em; padding-left: 1.1em; padding-bottom: 0.1em;">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Company, Inc</span>
    </div>
  </footer>
    <!--footer ended-->
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>